---
// src/pages/analysis/new.astro
import Layout from "@/layouts/Layout.astro";
import CenteredBoxLayout from "@/layouts/CenteredBoxLayout.astro";
import AnalysisNewCompoundList from "@/pages/analysis/new/AnalysisNewCompoundList.tsx";
import AnalysisNewRunButton from "@/pages/analysis/new/AnalysisNewRunButton.tsx";
import AnalysisNewNotes from "@/pages/analysis/new/AnalysisNewNotes.tsx";
---

<head>
    <meta charset="UTF-8" />
    <title>New Analysis - HTPLC Compound Matcher</title>
</head>

<CenteredBoxLayout title="New Analysis" subtitle="Edit and run your analysis">
    <!-- Left view -->
    <div class="" slot="side-view">
        <!-- Left Column - Notes Only -->
        <AnalysisNewNotes client:load />
    </div>

    <!-- Right Column - Analysis Boxes -->
    <AnalysisNewCompoundList client:load />

    <div class="mt-8 flex justify-center gap-x-4">
        <AnalysisNewRunButton client:load />
        <a href="/GROUP-3200_51/analysis/spectra" class="btn-hover-effect inline-block cursor-pointer rounded-lg bg-gray-500 px-6 py-2 font-semibold text-white hover:bg-gray-600">View Spectra</a>
    </div>

</CenteredBoxLayout>
