<nav class="flex flex-col gap-4">
  <a href="/incomplete" class="px-4 py-2 rounded-2xl border-2 border-black">Incomplete Analyses</a>
  <a href="/database" class="px-4 py-2 rounded-2xl border-2 border-black">View Database</a>
  <a href="/previous" class="px-4 py-2 rounded-2xl border-2 border-black">Previous Analyses</a>
</nav>
