---
import "@/styles/global.css";
import Layout from "@/layouts/Layout.astro";
import SessionList from "@/components/analysis/sessions/SessionList.tsx";
import CenteredBoxLayout from "@/layouts/CenteredBoxLayout.astro";
---

<head>
    <meta charset="UTF-8" />
    <title>Saved Analyses - HTPLC Compound Matcher</title>
</head>

<CenteredBoxLayout
    title="Saved Analyses"
    subtitle="View and continue your previously saved analyses"
>
    <!-- Saved Analyses List -->
    <SessionList client:load />
</CenteredBoxLayout>
