---
import Layout from "@/layouts/Layout.astro";
import SessionResultsView from "@/components/analysis/results/SessionResultsView.tsx";
import CenteredBoxLayout from "@/layouts/CenteredBoxLayout.astro";
---

<head>
    <meta charset="UTF-8" />
    <title>Results - HTPLC Compound Matcher</title>
</head>

<CenteredBoxLayout title="Results" subtitle="View your analysis results">
    <!-- Saved Analyses List -->
    <SessionResultsView client:load />
</CenteredBoxLayout>
